[base]
; usually podcasts are sent in 16kb/s audiostreams
size_to_seconds_factor=16000

; full directory path where playlists should be saved to
playlist_base_path=/
; full directory path where downloads should be saved to
; download_base_path=/podcasts/
; relative directory path from playlists to downloads
; download_rel_path=../Podcasts/
; run command after download completed - runs only when the file is created
; post_download_cmd=synoindex -a $file

[feeds]
; example:
; generated_playlist_file = full qualified url
; filename supports m3u and pls extension/file type
; podcast.m3u[url] = https://www.example.com/feed/podcast.rss
; only parse the top 3 entries
; podcast.m3u[top] = 3
; only parse the last 3 entries
; podcast.m3u[last] = 3
; change khz for this podcast, used as seconds to kbits factor, default 16000
; podcast.m3u[khz] = 16000
; if you want to download the podcast into download_base_path
; podcast.m3u[download] = 1
; make that feed part of name-of-latest.m3u (url = _latest)
; listing only to newest entries, sortet by pubDate
; podcast.m3u[_latest] = name-of-latest.m3u